.active {
  background: black !important;
  color: #ffffff;
}

.actor {
  padding: 5px;
}
.table{
  thead {
    background-color: #e4e1e1;
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}
