.app-header {
  .navbar {
    .navbar-brand {
      margin-right: auto;
    }
  }

  &.dark {
    background-color: black;
    color: #ffffff;

    a {
      color: #ffffff;

      &:hover,
      &:active {
        color: blue;
      }
    }
  }
}